<% layout("/layouts/boilerplate.ejs") %>
  <div class="row">
    <h3 align="center" style="margin-top: 3rem;">Listing Details : </h3>
    <img src="<%= listing.image %>" class="card-img-top show-img" alt="Listing_image">
    <div class="card-body">
      <h5 class="card-title-show">
        <%= listing.title %>
      </h5>
      <p class="card-text-show">
        <%= listing.description %>
      </p>
    </div>
    <ul class="list-group list-group-flush other-items-show">
      <li class="list-group-item">&#x20B9;<%= listing.price.toLocaleString("en-IN") %>
      </li>
      <li class="list-group-item">
        <%= listing.location %>
      </li>
      <li class="list-group-item">
        <%= listing.country %>
      </li>
    </ul>
    <div class="btns">
      <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn show-btns col-1">
        Edit
      </a>
      <form method="post" action="/listings/<%= listing._id %>?_method=delete" class="show-btns col-1">
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>
  </div>